/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Oct, 2016, 11:57:36 PM
    Author     : SUCHANDAN
*/

.section-m{
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-ms{
    margin-top: 15px;
    margin-bottom: 15px;
}
.section-md{
    margin-top: 60px;
    margin-bottom: 60px;
}
.section-tm{
    margin-top: 30px;
}
.section-tmd{
    margin-top: 60px;
}
.section-bm{
    margin-bottom: 30px;
}
.section-bmd{
    margin-bottom: 60px;
}

.section-p{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-ps{
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-pd{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-bp{
    padding-bottom: 30px;
}
.section-bpd{
    padding-bottom: 60px;
}
.section-tp{
    padding-top: 30px;
}
.section-tpd{
    padding-top: 60px;
}

.squize-text{
    padding: 0 10%;
}
.service img{
    margin: 0 auto;
}
.service p{
    text-align: center;
}

.who-we-are{
    background: url("../img/who-we-are.jpg");
    background-size: cover;
    background-position: center center;
}

.news-latter .form-control{
    width: 100%;
    border-radius: 0;
}

.contact-buttton {
    color: #fff;
    background: #006a9a;
}
.contact-buttton:hover{
    color: #fff;
}
.whats-new{
    background-color: #5c5d61;
}

.news-heading{
    color: #fff;
    margin-bottom: 15px;
}

.footer-top{
    background: #0a3b61;
}
.footer-bottom{
    background: #000e25;
    padding: 15px 0;
}

.banner-text{
    width: 100%;
    position: absolute;
    top: 35%;
}

.banner-text h2{
    margin: 30px 0;
}
.arrow-down{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.arrow-down span{
    font-size: 20px;
}
.banner{
    position: relative;
}
.banner.static{
    /*height: 100px;*/
    background-position: center center;
    background-size: cover;
}

.team img{
    width: auto;
    margin: 0 auto;
}
.team p{
    margin: 15px 0;
    text-align: center;
}

.relataed-area{
    background-color: #f8f8f8;
}

.carousel-control.left{
    left: -35px;
    width: 30px;
    background: none;
    color: #006a9a;
}
.carousel-control.right{
    right: -35px;
    width: 30px;
    background: none;
    color: #006a9a;
}
.footer-top h4{
    margin-top: 30px;
}

.relataed-area .item img{margin: 0 auto;}
.relataed-area .item p{margin: 15px auto;}

#contact{
    background-color: #006a9a;
}

.contact-button-submit{
    padding: 5px 30px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}